.carousel{
    margin: 50px auto;
    width: 90%;
}

.carousel-cell {
    width: 33%;
    margin: 0 auto;
    text-align: center;

}

.carousel-cell img {

    height:300px;

}

.grayscale {
    filter: grayscale(100%);
    transition: all 1s  ;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {

    .carousel-cell {
        width:50%;
    }


    .carousel-cell img {
        width: auto;

    }

}

@media screen and (min-width: 800px) and (max-width: 1000px) {

    .carousel-cell {
        width:70%;
    }


    .carousel-cell img {
        width: auto;

    }


}

@media screen and (min-width: 601px) and (max-width: 799px) {

    .carousel-cell {
        width:100%;
        margin: 0 auto;
    }


    .carousel-cell img {
        width: auto;
    }


}
  
@media screen and (max-width: 600px) {

    .carousel-cell {
        width:100%;
    }


    .carousel-cell img {
        width: auto;
    }
}
