.block-item{
    margin: 20px auto;
}

.block-item label, .block-item input{
    display: block;
}


.item6 {
    align-self: center;
    margin: 0 auto;

}


.item6 input,
.item6 textarea{
    width: 500px;
}

.item6 label{
    font-size: 25px;
    margin-bottom: 5px;
}

.item6 input{
    padding: 5px;
    border: 2px solid  var(--color0);
    border-bottom: 2px solid black;
    font-size: 25px;
}

.item6 input:focus{
    border: 2px solid black;
}

.item6 textarea{
    padding: 5px;
  height: 100px;
  border: 2px solid black;
  font-size: 25px; 
  resize: vertical; 
}

.button-item{
 text-align: center;
}
















@media all and (max-width: 800px){



    .block-item label {
        display: block;
        margin-left: 15px;
      }
      
    .block-item input,
    .block-item textarea {
        width: 90%;
        margin-left: 15px;

    }

    .item1 p, .item4 p, .item5 p {
        margin: 0 15px
    }

    
    .item2 img, .item3 img {
        width: 90%;
        margin: 0 auto;
    }




}