.block-item{
    margin: 20px auto;
}

.block-item label, .block-item input{
    display: block;
}


.item6 {
    align-self: center;
    margin: 0 auto;

}


.item6 input, .item6 textarea{
    width: 500px;
}

.item6 label{
    font-size: 25px;
    margin-bottom: 5px;
}

.item6 input{
    padding: 5px;
    border: 2px solid  var(--color0);
    border-bottom: 2px solid black;
    font-size: 25px;


}
.item6 input:focus{
    border: 2px solid black;
}

.item6 textarea{
    padding: 5px;
  height: 100px;
  border: 2px solid black;
  font-size: 25px;

}

.button-item{
 text-align: center;
}

.item6 button, .item4 button{
    padding: 5px;
    width: 200px;
    border: 2px solid  var(--color1);
    background-color: var(--color0);
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.item6 button:hover, .item4 button:hover{
    background-color: #3333;

}