/* FOOTER */

:root{
    --color0:#fff;
    --color1:#000;
    --color2:#3333;
    --color3:#DDDDDD;
}

.rss {
    display: block;
}
.rss h2 {
    margin-bottom: 20px;
    color:var(--color1);
}




.contador{ 
    margin-bottom: 50px;

}

.contador h2{

    margin-bottom: 20px;    
    color: var(--color1);
}

footer {
    position:relative;
    height: auto;
    margin-top: 200px;
    padding: 75px 0;
    bottom: 0;
    background-color: var(--color3);
    text-align: center;
}
footer h2 {
    color: var(--color1);
}


@media all and (max-width: 800px){
    .icolinks {
        display: block;
    }
}



