/* FOOTER */


.rss {
    display: block;
}
h2 {
    margin-bottom: 20px;
    color:#fff;
}





footer {
    position:relative;
    height: auto;
    margin-top: 200px;
    padding: 75px 0;
    bottom: 0;
    background-color: #1F1F1F;
    text-align: center;
}


footer img{
    width: 50px;
    margin: 10px 10px;
    opacity: 0.5;
    transition: 1s;
}
footer img:hover{
    opacity: 1;
}

.frontIcons{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


