
.galeria{
    margin: 150px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.img-galeria {
    position: relative;
    margin: 50px auto;
    filter: brightness(100%);
    transition:  filter .5s;
    cursor: pointer;
}

.img-galeria:hover img {
  transition: filter .5s;

}

.img-galeria:hover img {
    filter: brightness(40%);
}

.texto-imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .texto-imagen h2 {
    text-align: center;
    color: #FFFF;
  }
  
  .img-galeria:hover .texto-imagen {
    opacity: 1;
  }

.grayscale {
    filter: grayscale(100%);
    transition: all 1s;
  }


@media screen and (max-width: 600px) {

    .galeria{
        display: block;
        margin: 0 auto;

    }


    .img-galeria img{

        display: flex;
        margin: 0 auto;
    }

    .grayscale {
        filter: grayscale(0%);
      }
    
}