
.hamburger__toggle{
    display: block;
    position: relative;
    background-color:#3d3d3d;
    width: 60px; 
    height: 60px; 
    margin:0px auto;
    border-radius:50%;
    border:none;
  }
  
  /* give the span element and related pseudo-elements the appearance of white lines */
  .hamburger__icon,
  .hamburger__icon::before,
  .hamburger__icon::after {
    position: absolute;
    width: 30px; 
    height: 2px;
    border-radius: 4px;
    background-color: white;
  }
  
  /* center the span element in the middle of its containing button */
  .hamburger__icon {
    top: calc(50% - 2px);
    left: calc(50% - 15px);
  }
  
  /* position the two pseudo-elements to the very left */
  .hamburger__icon::before,
  .hamburger__icon::after {
    content: "";
    left: 0;
  }
  


  

  @media all and (max-width: 800px){
  
    /* ACTIVAR DISPLAY */
    .hamburger__toggle{
        /* display: block; */
    }





}