:root{
    --color0:#fff;
    --color1:#333333;
    --color2:#1F1F1F;
    --color3:#DDDDDD;
}


.menu-button{
    display: block;
    z-index: 999;
    position: fixed;

    bottom: 40px;
    right: 40px;


    padding: 10px;
    border: none;
    border-radius: 100%;


    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: var(--color2);

    transition: 2s;
}

#hamburger-btn {
    display: none;
}

/* Estilos para las líneas del botón */
.menu-button span {
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--color0);
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
}

#spn1{
    margin-top: 5px;
}
#spn2{
    margin-top: 15px;

}
#spn3{
    margin-top: 25px;
}

/* ANIMATION */
#hamburger-btn:checked ~ #spn1{
    transform: rotate(140deg);
    margin-top: 15px;

}
#hamburger-btn:checked ~ #spn2{
    opacity: 0;
}
#hamburger-btn:checked ~ #spn3{
    transform: rotate(-140deg);
    margin-top: 15px;
}








/* MENU OCULTO */
#hidden-hamburger{

    display: flex;

    height: 100%;
    width: 100%;

    z-index: 998;
    position: fixed;

    bottom: -100%;
    opacity: 0;


    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    background-color: var(--color2);

}




#hidden-hamburger h1{
    text-align: center;
    color: var(--color0);
}

/* LINKS MENU OCULTO */
.hamburger-links{
    width: 40%;
    display: block;
    color: #fff;
    height: auto;
    margin: 0 auto;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none; /* Standard syntax */


}

.hamburger-links a{
    display: block;
    cursor: pointer;

    margin: 5% auto;
    padding: 20px 0;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: var(--color1);
    background-color: var(--color0);

    transition: all 0.5s;

}

.hamburger-links a:hover{
    color: var(--color0);
    background-color: var(--color1);

}

/* ICONOS MENU OCULTO */
.hamburger-icon{
    display: block;
    margin: 5%; 
    width: 35%;

}







  @media screen and (max-width: 900px) {

    .hamburger-links{
        width: 80%;
    }


    .frontIcons{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-button {
        display:block;

    }
  }
  