#herobanner {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;

  }
  
  #fondohero {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    filter: blur(2px) brightness(65%);
    max-width: 100%;

  }

  #fondohero source,
  #fondohero img{
    height: 100vh;
    width: 100vw;

  } 
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  .hero-text h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .hero-text h2 {
    height: 50px;
    font-size: 2em;
    margin: 0;
    margin: 20px auto;
  }
  

#hero_icons a{
  margin: 0 20px;
}