:root{
    --color0:#fff;
    --color1:#000;
    --color2:#153462;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
body {
    background-color: var(--color0);
    min-height: 100vh;
}


#logo_fixed{
    z-index: 999;
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1rem;
    border-radius: 100%;
    border: 3px solid #1F1F1F;
    cursor: pointer;
}




/* POSTS */
.post { 
    height: auto;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 50px;
    padding: 5%;
    background-color: #fff;
    text-align: justify;
    box-shadow: 1px 1px 5px 1px var(--color1);
}

.post ul, ol{
    padding: 25px 50px ;
    
}

.post img {
    display: flex;
    margin: 15px auto;
    width: 80%;
    height: 80%;
}

.indice {
    display: block;
}

#mailcheckimg{
    height: 200px;
    width: 250px;
}

.center{
    text-align: center;
    margin: 0 auto;
}


.indent {
    text-indent: 25px;
}







/* INDEX DESCRIPTION */
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 200px auto;
    width: 100%;
    height: auto;
}

.info h2{
    margin-bottom: 20px;
    color: var(--color1);
    font-size: 25px;
    text-align: center;
}

.item1, .item2, .item3, .item4 {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.item1 p, .item4 p, .item5 p{

    margin: 0 50px;
    text-align: justify;

}

.item2 img, .item3 img  {
    width: 100%;
}


.item6 button, .item4 button{
    padding: 5px;
    border: 2px solid  var(--color1);
    background-color: var(--color0);
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.item6 button:hover, .item4 button:hover{
    background-color: #3333;

}



.description{
    font-size: 20px;
    text-align: center;
    text-justify: inter-word;
    margin: 0 auto;
}



/* LINKS */
 .description a {
    border-bottom: 0px solid var(--color0);
    transition: border-bottom .5s;
    text-decoration: none;
    border-bottom: 3px solid var(--color2);
}












.postButtons {
    margin: 0 auto;
    text-align: center;

}


.postButtons a {
    width: auto;
    
    text-decoration: none;

}


.margin{
    margin: 15px 0;
}

#icothanks{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}


.encabezado{
    display: flex;

}
.encabezado img{
    width: 50px;
    height: 50px;
    border: 1px solid #112D4E;
    border-radius: 100%;
    right: 0;
}








.container {
    height: 90vh;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    width: 50%;
  }
  
  .container h1 {
    margin: 0;
    padding: 1rem;
  }
  
  #thanks {
    text-justify: inter-word;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #thanks p {
    text-align: justify;
  }
  


/* SCROLL BAR */


  /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 100px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F1F1F1 ; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 




























/* MEDIA */





@media all and (max-width: 900px){

    .info{
        top: 0;
        display: block;
    }

    .info h2
    {
        margin-top: 20px;
        margin-bottom: 20px;

    }


    #text{
        height: 100px;
    }

    #jmoh1{
        font-size: 35px;
    }



    

    .item1, .item2, .item3, .item4 {
        margin: 30px 25px;
    }
    
    

    

    script {
        display: none;
    }


}