*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #F9F7F7;
    min-height: 100vh;
}







/* HEADER */
header {
     position: sticky;
    top: 0;
    background-color: #153462;
    text-align: center;
    padding: 10px;
    }


header a{
    color: #F9F7F7;
    font-size: 30px;  
    margin: 50px;  
}




/* SIDE BAR */
.sidebar{
    height: 100%;
    width: 15%;
    position: fixed;
    background-color: #A5BECC;
}

.sidebar a {
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    color: #243A73;
    transition: all 1s;
}

.sidebar a:hover{
    background-color: #F9F7F7;
}






/* BLOG */
#blog {
    margin-left: 15%;
    padding: 50px;

}

.mainblog {
    margin-left: 15%;
}






/* POSTS */
.post { 
    height: auto;
    width: 90%;
    margin: 50px auto;
    padding: 25px;
    text-align: justify;
    box-shadow: 1px 1px 5px 1px rgb(100, 100, 100);
}

.post ul, ol{
    padding: 25px 50px ;
    
}

.post img {
    display: flex;
    margin: 15px auto;
    width: 80%;
    height: 80%;
}

.code {
    height: auto;
    width: 80%;
    margin: 25px auto;
    padding: 25px;
    text-align: justify;
    color:#F9F7F7 ;
    background-color: #000;
}

.indent {
    text-indent: 25px;
}







/* HEROBANNER */
table {
    height: 680px;
    width: 100%;
    background-color: #F9F7F7;
    align-items:center;
    text-align: center;
}
td {
    width: 50%;
}

td h1, h2 {
    color: #153462;
}

td h1 {
    font-size: 40px;
}
td h2 {
    font-size: 30px;
}

/* HEROBANNER IMG */
#jmo {
    width: 500px;
    height: 480px;
    position: static;
    padding-left: 1.5rem;
    padding-top: 1rem;

    border-bottom: 40px solid #3F72AF;
    background: linear-gradient(#F9F7F7, #F9F7F7 50%, #3F72AF 50%, #3F72AF);
    background-size: 100% 200%;
    
    cursor: pointer;
    transition: background 2s, border-radius 2s;
}

#jmo:hover{
    background-position: 100% 99.9%;
}


/* INDEX DESCRIPTION */
.info{
    margin: 150px auto;
    width: 800px;
    height: auto;
}

.info h2{
    color: #112D4E;
    font-size: 35px;
    text-align: center;
}

.description{
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0 auto;
}
.description a{
    color: #3F72AF;
    border-bottom: 0px solid #3F72AF;
    transition: border-bottom .5s;
    text-decoration: none;
}
.description a:hover{
    border-bottom: 2px solid #3F72AF;

}


/* LINKS */
a {
    border-bottom: 0px solid #DBE2EF;
    transition: border-bottom .5s;
    text-decoration: none;
}
a:hover {
    border-bottom: 3px solid #DBE2EF;
}



/* BUTTONS */
button {
    background-color: #F9F7F7;
    color: #153462;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #153462;
    transition: border 1s, background-color 1s;
    cursor: pointer;
}
button:hover {
    border:2px solid #F9F7F7;
    background-color: #3F72AF;
    color: #F9F7F7;
    
}




footer {
    position:relative;
    height: auto;
    margin-top: 200px;
    padding: 75px 0;
    bottom: 0;
    background-color: #3F72AF;
    color:#F9F7F7;
    text-align: center;
}
footer h2 {
    color: #F9F7F7;
    margin-bottom: 50px;
}

footer a {
    width: 100%;
    font-size: 25px;
    color: #F9F7F7;
    margin: 50px;
    transition: .5s;
    border-bottom: 0px solid #DBE2EF;

}











/* RESPONSIVE */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
}   