.blog-container {
    overflow-y: auto; 
    height: 76vh;
    width: 70vh;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.blog-post-green p, 
.blog-post-yellow p, 
.blog-post-pink p, 
.blog-post-blue p {
    text-align: justify;
}

.blog-post-green div, 
.blog-post-yellow div, 
.blog-post-pink div, 
.blog-post-blue div {
    padding: 20px;
}

@media (max-width: 768px) {
    .blog-post-green div, 
    .blog-post-yellow div, 
    .blog-post-pink div, 
    .blog-post-blue div {
        padding: 0px; 
    }
}

/* POST GREEN */

.blog-post-green { 
    background-color: var(--color-black);
    border: 2px solid var(--color-green);
}

.blog-post-green h3 {   
    color: var(--color-green);
}

.blog-post-green h5 {
    color: var(--color-dark-green);
}

/* POST YELLOW */

.blog-post-yellow { 
    background-color: var(--color-black);
    border: 2px solid var(--color-yellow);
}

.blog-post-yellow h3 {
    color: var(--color-yellow);
}

.blog-post-yellow h5 {
    color: var(--color-mustard);
}

/* POST PINK */

.blog-post-pink { 
    background-color: var(--color-black);
    border: 2px solid var(--color-pink);
}

.blog-post-pink h3 {
    color: var(--color-pink);
}

.blog-post-pink h5 {
    color: var(--color-purple);
}

/* POST BLUE */

.blog-post-blue { 
    background-color: var(--color-black);
    border: 2px solid var(--color-blue);
}

.blog-post-blue h3 {
    color: var(--color-blue);
}

.blog-post-blue h5 {
    color: var(--color-light-blue);
}

