.bloqueSecundario { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    background-color: var(--color-dark-grey);
    color: #fff;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.contenido-secundario-izquierda,
.contenido-secundario-derecha {
    display: flex;
    justify-content: center; 
    align-items: center; 
}