.carousel {
    height: 70vh;
    margin: 5vh 0px;
}

.carousel-cell {
    width: 100%; /* o ajusta según tus necesidades */
    height: 100%; /* ajusta la altura según lo que necesites */
    background: var(--color-black);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}
