.contacto-main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra horizontalmente */
    height: 80vh;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
}

.contacto-titulo {
    margin-bottom: 20px; /* Añade espacio entre el título y el formulario */
}


.contacto-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    color: #fff
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ffff;
    background-color: #ffff;
    transition: all 0.5s;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid var(--color-blue);
    background-color: var(--color-light-blue);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button {
    width: 50%;
    margin: 20px auto; 
    display: block;
    padding: 10px 15px;
    background-color: var(--color-green);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-green-dark);
}

