.contacto-main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra horizontalmente */
    height: 80vh;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
}

.contacto-card { 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra horizontalmente */
    padding: 50px;
    margin: 100px;
    border: 1px solid var( --color-light-grey);
    border-radius: 5%;
    height: 100%;
}



.contacto-form {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    margin-top: 20px;
    color: #fff
}

.form-group {
    margin-bottom: 15px;

}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--color-light-grey);
    background-color: var(--color-light-grey);
    transition: all 0.5s;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid var(--color-blue);
    background-color: var(--color-light-blue);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group textarea {
    resize: vertical;
    height: 100px;
    resize: none;
}

button {
    width: 50%;
    margin: auto; 
    display: block;
    padding: 10px 15px;
    background-color: var(--color-green);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-green-dark);
}

