/* App.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000; /* Color de fondo predeterminado */
}
  
.App {
    position: relative;
}
  
.cursor-effect {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    animation: auraPulse 1.5s infinite ease-in-out;
}

@keyframes auraPulse {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.7;
    }
}
  
@media (max-width: 768px) {
    .cursor-effect {
        display: none;
    }
}