.footer-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
    border-color: #b0b0b080; 
    height: 10vh;
}

.icono-rs {
    width: 30px; 
    margin: 0 10px; 
    transition: all 1s;
}

.icono-rs:hover{
    width: 50px; 
}