.header-custom {
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid;
    border-color: var(--color-light-grey); /* Color gris para el borde inferior */
    height: 10vh;
}
  
.nav-link {
    color: var(--color-light-grey); /* Color gris para los enlaces */
}
  
.nav-link:hover {
    color: #ffffff; /* Color blanco al pasar el cursor */
}
  
.nav-link.active {
    color: #ffffff; /* Color blanco para el enlace activo */
}
  