/* HeroBanner.css */
.hero-banner {
  position: relative;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.content {
  padding: 20px;
  border-radius: 10px;
  position: relative; 
}

.dynamic-text {
  display: inline;
  border-right: 2px solid #ffffff; /* Color del cursor parpadeante */
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
}

.more-info {
  margin-top: 20px;
  animation: fadeIn 0.5s ease-in-out;
}


/* Estilos para tablet */
@media (max-width: 768px) {
  .hero-banner {
    height: 100vh; 
  }

  .content {
    padding: 15px;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 480px) {
  .hero-banner {
    height: 100vh;
  }

  .content {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .more-info {
    font-size: 0.9rem;
  }
}
