body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --color-white: #eeeeee;
  --color-black: #181818;
  --color-soft-black: #272727;
  --color-dark-grey: #27225e;
  --color-light-grey: #868686;
  --color-pink: #BA86A1;
  --color-purple: #8b2089;
  --color-yellow: #DBD700;
  --color-mustard: #CCA700;
  --color-orange: #CE9178;
  --color-light-blue: #9CDCFE;
  --color-blue: #569CD6;
  --color-green: #4EC990;
  --color-dark-green: #42a174;
}
