body {
  margin: 0;
  
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* SOCIAL MEDIA ICONS */
.ico_blog {
  margin: 0 0.5rem;
  width: 1.5rem;
  opacity: 0.7;
  transition: 0.5s;
}

.ico_blog:hover {
  opacity: 1;
}




/* JMO LOGO */

.jmo_logo {
  position: -webkit-sticky;
  position: sticky;
  display:flex ;
  left: 0;
  bottom: 0;
  margin: 10px;
  width: 5rem;
  height: 5rem;
  z-index: 999;
  border: 3px solid black;
  border-radius: 100%;
  cursor: pointer;
  transition: border .5s;
}

.jmo_logo:hover {
  border:3px solid #fff;
}






