
.contacto-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 80vh;
    width: 100%;
    color: #fff;
}

.contacto-card {
    background-color: var(--color-dark-grey);
    border: 1px solid var(--color-light-grey);
    border-radius: 8px;
    padding: 20px;
    width: 60vh;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
}

.contacto-titulo {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.dynamic-text {
    font-weight: bold;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-light-grey);
    background-color: var(--color-light-grey);
    color: var(--color-dark-grey);
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--color-blue);
    background-color: var(--color-light-blue);
    outline: none;
}

.form-group textarea {
    resize: none;
}

button {
    padding: 10px;
    background-color: var(--color-green);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: darken(var(--color-green), 10%);
}

@media (max-width: 600px) {
    .contacto-titulo {
        font-size: 1.2rem;
    }

    .contacto-card {
        padding: 15px;
    }

    .contacto-form {
        gap: 10px;
    }
}