.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; 
  transition: transform 0.1s ease-out; 
}

.circle.shrink {
  transform: scale(0.5); /* Tamaño reducido cuando el cursor está sobre un enlace, imagen, input o textarea */
}
