body {
  background: radial-gradient(circle, var(--color-dark-grey) 0%, var(--color-black) 100%);
}

.App {
  width: 100%;
  margin: 0 auto;
  font-family: 'Heebo', sans-serif;
}
.color {
  color: #868686
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-grey); /* Color del pulgar */
  border-radius: 10px;
  border: 3px solid var(--color-dark-grey); /* Bordes para un efecto de separación */
}

::-webkit-scrollbar-track {
  background: var(--color-black); /* Color de fondo del track */
  border-radius: 10px;
}
